<!DOCTYPE html>
<html lang="en">

<head>
    <%-include partials/meta %>
    <title>flexboxy - Web's flexbox editor</title>
    <link rel="stylesheet" href="./css/materialize.min.css">
    <link rel="stylesheet" href="./css/main.css">

</head>  
   
<body>
    <%-include partials/export %>
    <div id="app-wrapper">
        <div class="main">
            <%-include partials/nav %>
            <%-include partials/workspace %> 
        </div>  
        <div class="sidebar">
            <%-include partials/sidebar %>
        </div>
    </div>
    
    <script src="https://unpkg.com/prettier@1.13.0/standalone.js"></script>
    <script src='./js/main.js'></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145300540-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-145300540-1');
    </script>
</body>

</html>